//  CompetitionsList
.CompetitionsList {
  // border: 3px solid red;
  max-width: 20%;
  flex-grow: 1;
  background-color: var(--clr-dark-acent);
  margin-left: 5%;
  .CompetitionsList__Actions {
    display: flex;
    padding: 0.5rem 5%;
    align-items: center;
    .CompetitionsList__Opt {
      font-size: var(--fs-h3);
      flex-grow: 1;
    }
  }
  &__BtnSearch {
    background-color: transparent;
    &:hover {
      background-color: var(--clr-dark-strong);
    }
  }
}

.CompetitionsList__List {
  &_Empty {
    padding: 1rem;
  }
  .CompetitionsList__Item {
    margin-bottom: 0.5rem;
  }
  .CompetitionsList__Link {
    display: flex;
    align-items: center;
    padding: 0 5%;
    figure {
      padding: 1rem;
      background-color: red;
      margin: auto 0;
    }
    span {
      margin-left: 4%;
    }
  }
}
